PORT="[number] Port number for the server to listen on. Default is 3000.                                   | DEFAULT: 3000"
DATABASE_URL="[string] URL to the database. For example: postgresql://user:password@host:port/database.    | REQUIRED"