NODE_ENV=[ENUM: development, production, test] Environment mode.                                          | REQUIRED
PORT=[number] Port number for the server to listen on.                                                    | DEFAULT: 3000
DATABASE_HOST=[string] Database host address.                                                             | REQUIRED
DATABASE_PORT=[number] Database port number.                                                              | DEFAULT: 5432
DATABASE_NAME=[string] Name of the database.                                                              | REQUIRED
DATABASE_USER=[string] Database user name.                                                                | REQUIRED
DATABASE_PASSWORD=[string] Database user password.                                                        | REQUIRED
JWT_SECRET=[string] Secret key for signing JWT tokens.                                                    | REQUIRED